$resp-phone: 576px;
$resp-table: 768px;
$resp-laptop: 992px;
$resp-large: 1200px;

$primary: #383838;
$secondary: #507C36;

//$menu-width: 100px;
$menu-width: 15vw;
//$menu-min-width: 70px;

$header-border-height: 2vw;