@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "normalize";
@import "reset";
@import "mixins";
@import "variables";

html, body {
	width:  100%;
	height: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size:   calc(14px + 8 * ((100vw - 500px) / 1500));
}

body {
	background: $primary;
}

#page {
	height:     100%;
	overflow-x: hidden;
	
	header {
		display:    flex;
		position:   relative;
		background: $secondary;
		
		&::after {
			@include size(100%, 0);
			content:       '';
			position:      absolute;
			top:           100%;
			left:          0;
			z-index:       100;
			border-bottom: $header-border-height solid transparentize($secondary, 0.5);
		}
		
		#logo, #menu-toggle-area {
			@include size($menu-width);
			
			a {
				@include size(100%);
				display: block;
				padding: 15%;
			}
		}
		
		#menu-toggle-area {
			
			a {
				padding: 25%;
			}
		}
	}
	
	#main {
		display:  flex;
		position: relative;
		
		> nav {
			flex:                       0 0 $menu-width;
			position:                   relative;
			left:                       -$menu-width;
			z-index:                    90;
			overflow:                   hidden;
			//width:                      $menu-width;
			padding:                    $header-border-height 0 0;
			background:                 darken($primary, 12);
			transition-duration:        125ms;
			transition-property:        left, background-color, height;
			transition-timing-function: ease-in-out;
			transition-delay:           0ms, 20ms, 0ms;
			
			> ul {
				position:   sticky;
				top:        0;
				margin:     0;
				padding:    ($header-border-height + 3) 0;
				list-style: none;
				
				> li {
					//@include size($menu-width);
					//@include minSize($menu-min-width);
					//position: relative;
					//left: 0;
					//transition-duration: 125ms;
					//transition-property: left, background-color;
					//transition-timing-function: ease-in-out;
					//transition-delay: 0ms, 20ms;
					
					&::before {
						//content: '';
						//position: absolute;
						//width: 10%;
						//height: 100%;
						//background: red;
						//transform: translateX(-105%);
					}
					
					&:hover, &.active {
						//left: 10px;
						//background: darken($primary, 12);
					}
					
					a {
						display:         block;
						//@include size($menu-width);
						//@include minSize($menu-min-width);
						//display:    block;
						padding:         15%;
						//text-align:      center;
						text-decoration: none;
						
						svg {
							@include size($menu-width * 0.4);
							display: block;
							margin:  0 auto 1vw;
						}
						
						> span {
							display:        block;
							font-size:      60%;
							text-transform: uppercase;
							text-align:     center;
						}
					}
				}
			}
		}
		
		#content {
			flex:     0 0 100%;
			position: relative;
			left:     -$menu-width;
			width:    100%;
			padding:  $header-border-height 0 0;
		}
	}
}