@import "normalize";
@import "reset";
@import "mixins";
@import "variables";

body {
	background: $primary;
}

#page {
	display:        flex;
	flex-direction: column;
	min-height:     100vh;
	
	header {
		background: $secondary;
		
		&::after {
			@include size(100%, 0);
			content:       '';
			position:      absolute;
			z-index:       100;
			border-bottom: $header-border-height solid transparentize($secondary, 0.5);
		}
		
		#logo {
			@include size($menu-width);
			@include minSize($menu-min-width);
			
			a:link {
				@include size(100%);
				display: block;
				padding: 15%;
			}
		}
	}
	
	#main {
		@include minSize(auto, 200vh);
		display: flex;
		
		> nav {
			position:   relative;
			z-index:    90;
			width:      $menu-width;
			min-width:  $menu-min-width;
			padding:    $header-border-height 0;
			background: darken($primary, 12);
			
			> ul {
				position:   sticky;
				top:        10px;
				margin:     0;
				padding:    $header-border-height 0;
				list-style: none;
				
				> li {
					@include size($menu-width);
					@include minSize($menu-min-width);
					position: relative;
					left: 0;
					transition-duration: 125ms;
					transition-property: left, background-color;
					transition-timing-function: ease-in-out;
					transition-delay: 0ms, 20ms;
					
					&::before {
						content: '';
						position: absolute;
						width: 10%;
						height: 100%;
						background: red;
						transform: translateX(-100%);
					}
					
					&:hover, &.active {
						left: 10px;
						background: darken($primary, 12);
					}
					
					a:link {
						@include size($menu-width);
						@include minSize($menu-min-width);
						display:    block;
						padding:    15%;
						text-align: center;
						
						svg {
							@include size(70%);
							display: inline-block;
						}
					}
				}
			}
		}
		
		#content {
			padding: $header-border-height 0 0;
		}
	}
}